<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الترشيحات</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body dir="rtl">
    <div class="view">
        <div class="container">
            <div class="card">
                <div class="content">
                    <section class="sec-head">
                        <span>مصري</span>
                        <span>ياسين</span>
                        <img src="../../img/skills-02.jpg" alt="">
                    </section>
                    <section class="sec-content">
                        <h3>انا شخص احب الاحترام </h3>
                        <p>مسلم</p>
                        <p>موظف</p>
                        <p>دخل مرتفع</p>
                        <p>مؤهل عالي</p>
                        <p>قمحي</p>
                        <p>بصحة جيدة</p>

                    </section>
                    <section class="sec-footer">
                        <p>درشة</p>
                        <p>تفضيل</p>
                        <p>اعجاب</p>
                        <p>ملف</p>
                    </section>
                </div>
                <div class="content">
                    <section class="sec-head">
                        <span>مصري</span>
                        <span>ياسين</span>
                        <img src="../../img/skills-02.jpg" alt="">
                    </section>
                    <section class="sec-content">
                        <h3>انا شخص احب الاحترام </h3>
                        <p>مسلم</p>
                        <p>موظف</p>
                        <p>دخل مرتفع</p>
                        <p>مؤهل عالي</p>
                        <p>قمحي</p>
                        <p>بصحة جيدة</p>

                    </section>
                    <section class="sec-footer">
                        <p>درشة</p>
                        <p>تفضيل</p>
                        <p>اعجاب</p>
                        <p>ملف</p>
                    </section>
                </div>
                <div class="content">
                    <section class="sec-head">
                        <span>مصري</span>
                        <span>ياسين</span>
                        <img src="../../img/skills-02.jpg" alt="">
                    </section>
                    <section class="sec-content">
                        <h3>انا شخص احب الاحترام </h3>
                        <p>مسلم</p>
                        <p>موظف</p>
                        <p>دخل مرتفع</p>
                        <p>مؤهل عالي</p>
                        <p>قمحي</p>
                        <p>بصحة جيدة</p>

                    </section>
                    <section class="sec-footer">
                        <p>درشة</p>
                        <p>تفضيل</p>
                        <p>اعجاب</p>
                        <p>ملف</p>
                    </section>
                </div>
                <div class="content">
                    <section class="sec-head">
                        <span>مصري</span>
                        <span>ياسين</span>
                        <img src="../../img/skills-02.jpg" alt="">
                    </section>
                    <section class="sec-content">
                        <h3>انا شخص احب الاحترام </h3>
                        <p>مسلم</p>
                        <p>موظف</p>
                        <p>دخل مرتفع</p>
                        <p>مؤهل عالي</p>
                        <p>قمحي</p>
                        <p>بصحة جيدة</p>

                    </section>
                    <section class="sec-footer">
                        <p>درشة</p>
                        <p>تفضيل</p>
                        <p>اعجاب</p>
                        <p>ملف</p>
                    </section>
                </div>
                <div class="content">
                    <section class="sec-head">
                        <span>مصري</span>
                        <span>ياسين</span>
                        <img src="../../img/skills-02.jpg" alt="">
                    </section>
                    <section class="sec-content">
                        <h3>انا شخص احب الاحترام </h3>
                        <p>مسلم</p>
                        <p>موظف</p>
                        <p>دخل مرتفع</p>
                        <p>مؤهل عالي</p>
                        <p>قمحي</p>
                        <p>بصحة جيدة</p>

                    </section>
                    <section class="sec-footer">
                        <p>درشة</p>
                        <p>تفضيل</p>
                        <p>اعجاب</p>
                        <p>ملف</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>